<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="listeners.Listener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Materna Test">
        <classes>
            <class name="GoogleSearchTest"></class>
        </classes>
    </test>
</suite>